.draggable-list-crud-container {
  // background-color: aquamarine;
  // width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;

  .draggable-list-item-container {
    // background-color: aquamarine;
    // width: 80%;
    // margin-left: 20px;

    .element-contiainer {
      // display: flex;
      // flex-direction: row;
      // min-height: 100px;
      width: 100%;
      // max-width: 100%;
      margin-left: 20px;
      // background-color: brown;
      margin-bottom: 5px;

      .element-row {
        position: relative;

        .add-element-button-above {
          position: absolute;
          top: -14px;
          left: 300px;
          z-index: 1;
        }

        .add-element-button-below {
          position: absolute;
          bottom: -16px;
          left: 300px;
          z-index: 1;
        }

        .element {
          display: flex;
          flex-direction: row;
          height: 100%;
          width: 100%;

          // background-color: aquamarine;
          .ant-space {
            width: 100%;

            .drag-icon {
              // font-size: 20px;
              color: #ccc;
              cursor: grab;
              position: absolute;
              top: 10px;
            }

            .element-text-input {
              min-width: 600px;
              height: 40px;
            }
          }
        }
      }
    }
  }

  .shadow-container {
    height: 20px;
    width: 100%;
    background-color: #ccc;
    max-width: 800px;
    border-radius: 5px;
  }

  .child-shadow {
    // background-color: red;
    margin-left : 40px
  }
  
  .erro-massage {
    color: red
  }

  .hidden {
    display: none;
  }

  .blur {
    opacity: 0.5;
    transition: 'opacity 0.3s ease-in-out', // Smooth opacity transition
  }
}

.tag-delete-confirm-modal {
  .ant-btn-dangerous {
    color: #fff !important
  }
}